@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200,300,400;500;600;700&display=swap');


:root {
  font-family: 'Poppins',system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  --purpal-color:#AA2AE1;
  --gray-color:#868383;
  --light-gray:#ECECEC;
  --light-gray-text:#1e2939;
  --black-color:#000000;
  --white-color:#fff;
  --white-light-color:#DEDEDE;

  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

.navbar-option{
  color: black;
  font-weight: 600;
  font-size: 16px;
  transition: color .3s ease-in-out;
}

.navbar-option:hover{
  color:var(--purpal-color) ;
}

.hero-title{
  font-family: 'Source Sans Pro';
  font-weight: 700;
  margin-bottom: 18px;
}

.hero-subtitle{
  font-size: 18px;
  font-weight: 400;
  color: black;
  margin-bottom: 24px;
}

.font-source{
  font-family:'Source Sans Pro' ;
}

.about-me{
  font-weight: 500;
  font-size: larger;
  margin-bottom:16px;
  color: #1e2939;
  font-family: 'Source Sans Pro';
}

.project-description{
  font-weight: 500;
  font-size: larger;
  color: #1e2939;
  font-family: 'Source Sans Pro';
}

.magneto{
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: none;
  background-color: var(--purpal-color);
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.4s ease-in-out;
  position: relative;
  overflow: hidden;
}

.magneto:hover {
  background:  black ;
  color: white;
}

.normal-btn {
  margin-top: 1.5rem;           
  padding: 0.75rem 1.5rem;      
  background-color: var(--purpal-color);
  color: var(--light-gray-text);
  font-weight: bold;
  font-size: 1.125rem;          
  border-radius: 1rem;           
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  text-align: center;
  display: inline-block;
}

.normal-btn:hover {
  transform: scale(1.05);
  background-color: black;
  color: white;
}